<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soluciones.demoKit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.soluciones.demoKit.PrintFileActivityTest" />
        <activity
            android:name="com.soluciones.demoKit.DocumentPreviewActivity"
            android:noHistory="true" />
        <activity android:name="com.soluciones.demoKit.RecorteDeFirmaActivity" />
        <activity android:name="com.soluciones.demoKit.QRandBarCodeActivity" />
        <activity android:name="com.soluciones.demoKit.CodigoBarraYQRActivity" />
        <activity android:name="com.soluciones.demoKit.DocuFiliatoriosActivity" />
        <activity android:name="com.soluciones.demoKit.ProductoActivity" />
        <activity android:name="com.soluciones.demoKit.SeleccionSerieDocumentalActivity" />
        <activity android:name="com.soluciones.demoKit.AperturaCuentaMainActivity" />
        <activity android:name="com.soluciones.demoKit.AppSelectionActivity" />
        <activity
            android:name="com.soluciones.demoKit.MainActivity"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>